{:lein {:profile "+dev"}
 :nrepl {:port 4002}
 :builds {:app {:target :browser
                :asset-path "files/js/app"
                :output-to "resources/public/files/js/app/main.js"
                :output-dir "resources/public/files/js/app"
                :modules {:main {:entries [ventas-demo.core]}}
                :devtools {:after-load ventas.core/on-reload
                           :watch-dir "resources/public"}
                :dev {:preloads [devtools.preload]}
                :release {:pretty-print false}}
          :admin {:target :browser
                  :asset-path "files/js/admin"
                  :output-to "resources/public/files/js/admin/main.js"
                  :output-dir "resources/public/files/js/admin"
                  :modules {:main {:entries [ventas-demo.admin]}}
                  :devtools {:after-load ventas.core/on-reload
                             :watch-dir "resources/public"}
                  :dev {:preloads [devtools.preload]}
                  :release {:pretty-print false}}}}
