<configuration scan="false" debug="false">

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="sentry" class="io.sentry.logback.SentryAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <appender name="sumoLogic" class="com.sumologic.logback.SumoLogicAppender">
        <url>$SUMO_URL</url>
        <sourceName>logs</sourceName>
        <sourceCategory>demo/ventas</sourceCategory>
        <messagesPerRequest>20</messagesPerRequest>
        <encoder>
            <Pattern>
                %date{ISO8601,UTC} [%t] %-5p %c - %m%n
            </Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <logger name="datomic" level="WARN" additivity="false">
        <appender-ref ref="stdout"/>
        <appender-ref ref="sentry"/>
    </logger>

    <logger name="ventas" level="DEBUG" additivity="false">
        <appender-ref ref="stdout"/>
        <appender-ref ref="sentry"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="stdout"/>
        <appender-ref ref="sentry"/>
        <appender-ref ref="sumoLogic"/>
    </root>

</configuration>